*,
*::after,
*::before{
	box-sizing: border-box;
}
body{
	font-family: 'Jost', sans-serif;
	margin: 0;
	justify-content: center;
	min-width: 1440px;
}
header{
	margin: 26px 120px 18px;
	display: flex;
	justify-content: space-between;
	
}
a{
	text-decoration: none;
	color: inherit;
}
.header__logo{
	margin-bottom: 12px;
}
.header__nav{
	display: flex;

}
.nav__item{
	margin: 12px 20px 20px;
	font-size: 19px;
	line-height: 30px;
}
.home{
	text-decoration: none;
	color: #CDA274;
}
main{
	margin-bottom: 80px ;
}
.start{
	text-align: left;
	background-image: url(images/start.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
	background-position: top center;
	min-height: 831px;
	
	padding: 195px 250px;
}
.start__btn{
	background-color: #292F36;
	display: flex;
	padding: 11px 17px 11px;
	border-radius: 18px;
	min-width: 207px;
	justify-content: space-between;
	margin-bottom: 260px;
}
.start__btn:hover{
	transform: scale(1.2);
	transition: 0.6s;
}
.start__img{
	margin-top: 9px;
}
.btn__text{
	color: white;
	font-size: 18px;
}
.start__header{
	font-size: 80px;
	margin-bottom: 19px;

}
.start__content{

}
.start__text{
	font-size: 22px;
	margin-bottom: 35px;
}
.info{
	display: flex;
	margin: 100px 120px;
	justify-content: center;
}
.info__sector{
	min-width: 400px;

}
.info__header{
	text-align: center;
	font-size: 25px;
	line-height: 39px;

}
.info__text{
	text-align: center;
	max-width: 300px;
	font-size: 22px;
	line-height: 33px;
	margin: 16px 52px;
	justify-content: center;

}
.more{
	margin-top: 40px;
	margin-right: 40px; 
	margin-left: 40px;
	margin-bottom: 70px;

}
.view__more{
	display: flex;
	justify-content: center;
	font-size: 18px;
	line-height: 27px;
}
.more__img{
	margin-left: 15px;
}
.estimate{
	justify-content: center;
	display: flex;
	margin-bottom: 140px;
}
.estimate__content{
	max-width: 600px;
}
.estimate__header{
	font-size: 50px;
	line-height: 65px;
	margin-bottom: 42px;
}
.estimate__text{
	font-size: 22px;
	line-height: 33px;
	margin-bottom: 30px;
	text-align: left;
}
.estimate__call{
	display: flex;
}
.call__info{
	margin-top: 12px;
	margin-left: 20px;
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 57px;
}
.call__img{
	max-width: 93px;
	max-height: 93px;
}
.estimate__btn{
	background-color: #292F36;
	display: flex;
	padding: 11px 17px 11px;
	border-radius: 25px;
	min-width: 207px;
	justify-content: space-between;
	min-width: 263px;
	justify-content: center;
}
.estimate__btn-info{
	color: white;
	font-size: 18px;
	line-height: 27px;
	margin-right: 16px;
}
.estimate__btn:hover{
	transform: scale(1.2);
	transition: 0.6s;
}
.estimate__btn-img{
	margin-top: 10px;
	margin-left: 10px;
}
.people{
	background-image: url(images/people__bg.jpg);
	background-repeat: no-repeat;
	background-size: 1200px 675px;
	background-position: top center;
	padding: 103px 50px 120px;
	margin-bottom: 140px;
}
.people__header{
	text-align: center;
	font-size: 45px;
	line-height: 58.5px;
}
.people__comment{
	display: flex;
	justify-content: center;
}
.person{
	max-width: 356px;
	max-height: 289px;
	padding: 50px 35px 80px 45px;
	margin: 17px;
	background-color: white;
	background-size: 354px 287px;
	border-radius: 30px;
}
.person__name{
	font-size: 25px;
}
.person__adress{
	font-size: 18px;
	margin-top: -25px 
}
.person__info{
	display: flex;
}
.person__info-content{
	margin-top: -20px;
}
.person__comments{
	max-width: 244px;
	font-size: 20px;
	line-height: 30px;

}
.person__img{
	max-width: 77px;
	max-height: 77px;
	margin-right: 20px;
}
.brands{
	justify-content: space-evenly;
	display: flex;
}
.brand{

}
.brand__link{
	margin: 45px;
}


.recent{
	margin-top: 200px;
	
}
.recent__inner{
	margin-top: 115px;
	margin-bottom: 70px;
}
.recent__header{
	font-size: 47px;
	line-height: 62.4px;
}
.recent__inner-text{
	font-size: 22px;
	line-height: 33px;
}
.recent__content{
	
}
.section__main{
	display: flex;
	min-width: 590px;
	justify-content: space-between;
}
.section__main-content{
	text-align: left;
	margin-top: 0;
}
.section__btn{
	margin-top: 25px;
}
.section{
	display: flex;
	justify-content: center;
	margin-bottom: 60px;

}
.section__header{
	font-size: 24px;
	margin-bottom: -10px;
}
.section__text{
	font-size: 22px;

}
.section__item{
	margin-right: 20px;
}
.stats{
	background-image: url(images/stats-bg.jpg);
	max-width: 1440px;
	display: flex;
	min-height: 475px;
	justify-content: center;
}
.stats__item{
	margin: 140px 0 140px;
	padding: 0 55px 0;
	border-right: 1px solid #CDA274;

}
.border-none{
	border: none;
	padding-right: none;
}
.stats__item-header{
	text-align: center;
	font-size: 85px;
	line-height: 127.5px;
	margin-bottom: 10px;
	margin-top: 14px;
	color: #CDA274;
}

.stats__item-text{
	min-width: 200px;
	font-size: 22px;
	font-weight: 400;
	line-height: 33px;

}
.container{
	background-repeat: no-repeat;
	background-size: 1440px 475px;
	background-position: top center;
	display: flex;
	justify-content: center;
}
.blogs{
	margin-top: 130px;
}
.blogs__inner{
	margin-bottom: 70px;
}
.blogs__item{
	border: 1px solid #E7E7E7;
	border-radius: 62px;
	min-height: 515px;
	max-width: 387px;
	padding-top: 21px;
}
.blogs__header{
	font-size: 48px;
	line-height: 62.4px;
	margin-top: 20px;

}
.blogs__header-text{
	font-size: 22px;
	line-height: 33px;	
}
.blogs__header{
	margin-bottom: 15px;
	text-align: center;
}
.blogs__header-text{
	text-align: center;
}

.blog__header-inner{
	background-color: white;
	padding: 9px 10px 11px;
	min-width: 125px;
	border-radius: 8px 8px 8px 0px;
}

.blog__info{
	font-size: 25px;
	line-height: 35px;
	text-align: left;
	margin-left: 21px;
}
.blog__other{
	font-size: 16px;
	line-height: 24px;
	display: flex;
	justify-content: space-between;
	margin: 10px 21px 20px;
}

.blogs__content{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 40px;
	margin-left: 136px;
	margin-right: 84px;
	max-width: 1220px;
	max-height: 1100;
}
.kitchen{
	background-image: url(images/kitchen_design.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	padding: 223px 196px 23px 29px;
	margin-bottom: 15px;
}
.kitchen2{
	background-image: url(images/kitchen_design2.jpg);
		background-repeat: no-repeat;
	background-position: top center;
	padding: 223px 196px 23px 29px;
	margin-bottom: 15px;
}
.living-room{
	background-image: url(images/living_room.jpg);
		background-repeat: no-repeat;
	background-position: top center;
	padding: 223px 196px 23px 29px;
	margin-bottom: 15px;
}
.living-room2{
	background-image: url(images/living_room2.jpg);
		background-repeat: no-repeat;
	background-position: top center;
	padding: 223px 196px 23px 29px;
	margin-bottom: 15px;
}
.min-interior{
	background-image: url(images/min_interior.jpg);
		background-repeat: no-repeat;
	background-position: top center;
	padding: 223px 196px 23px 29px;
	margin-bottom: 15px;
}
.min-interior2{
	background-image: url(images/min_interior2.jpg);
		background-repeat: no-repeat;
	background-position: top center;
	padding: 223px 196px 23px 29px;
	margin-bottom: 15px;
}
.connect{
	margin-top: 102px;
	margin-bottom: 80px;
	margin-right: auto;
	margin-left: auto;
	background-color: #292F36;
	padding-top: 100px;
	padding-bottom: 95px;
	border-radius: 70px;
	max-width: 1200px;	
}
.connect__header{
	color: #FFFFFF;
	font-size: 50px;
	line-height: 75px;
	margin-bottom: 9px;
}
.connect__text{
	color: white;
	font-size: 22px;
	line-height: 33px;
	margin-bottom: 31px;
}
.button__text{
	color: white;
	font-size: 18px;
	line-height: 27px;
	margin-right: 27px;
}
.button{
	background-color: #CDA274;
	padding-right: 15px;
	padding-left: 34px;
	display: inline-flex;
	border-radius: 18px;
}
.other-info{
	justify-content: space-evenly;
	display: flex;
	text-align: left;
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 50px;
	margin-bottom: 80px;
}
.social{
	
	margin-right: 16px;
	
}
.social__links{
	display: flex;
	justify-content: space-between;
	margin-right: 120px;
}
.pages{
	margin-right: 16px;
}
.explore{
	margin-right: 16px;
}

.social__text, .pages__text, .explore__text, .contact__text{
	font-size: 22px;
	line-height: 33px;
}
.pages__header, .explore__header, .contact__header{
	font-size: 27px;
	line-height: 37.5px;
}
footer{
	border: 1px solid #E5E5E5;
	display: flex;
	justify-content: center;
	padding-bottom: 36px;
	padding-top: 35px;
}
.footer-colored{
	color: #CDA274;
}
.footer__text{
	font-size: 22px;
	line-height: 33px;
	margin-right: 15px;
}


@media(max-width: 1200px){
	body{
		width: 700px;
	}
	.social__text, .pages__text, .explore__text, .contact__text{
		font-size: 18px;
	}
	.info__text{
		font-size: 14px;

	}
	
	
}
@media(max-width: 800px){
	.social__text, .pages__text, .explore__text, .contact__text{
		font-size: 18px;
	}
}
@media(max-width: 655px){
	
	
}
@media(max-width: 600px){
	.recent__inner-text{
		font-size: 25px;
	}
	

}
